.minesweeper-escape {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }
  
  .game-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    animation: enlarge 1s;
    transform-origin: center center;
  }
  
  .grid-row {
    display: flex;
  }
  
  
  .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #212121;
    border: 1px solid #424242;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
  }
  
  .game-info-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .minesweeper-escape h2,
  .minesweeper-escape button {
    animation: fadeIn 1s;
  }
  
  @keyframes enlarge {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }
  