/*TypingText.css */
.typing-text-container {
    position: relative;
    background-color: white;
    border: 1px solid #1d1f2f;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #1d1f2f;
    line-height: 2rem;
    height: 40vh;
    width: 40vw;
    margin: 0 auto;
    overflow-wrap: break-word;

  }
  
  .typing-text-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, #1d1f2f 1px, transparent 1px);
    background-size: 100% 1.4rem;
    opacity: 0.2;
    pointer-events: none;
  }
  
  .typing-text {
    position: relative;
  }
  
  .typing-text-cursor {
    font-size: 1.1rem;
    font-weight: bold;
    color: #c4a7ff;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  